<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name ="viewport" content="width=device-width, initial-scale=1">
        <title>Garbage Sorter</title>
        <!-- Bootstrap CSS -->
        
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
        <link href="static/styles.css" rel="stylesheet">
    </head>

    <body>
        <video class="video-background active" autoplay muted loop>
            <source src="static/RealRiver.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <video class="video-background" autoplay muted loop>
            <source src="static/RealOcean.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <video class="video-background" autoplay muted loop>
            <source src="static/RealCanyon.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <div class="slider-navigation">
            <div class="nav-btn" data-index="0"></div>
            <div class="nav-btn" data-index="1"></div>
            <div class="nav-btn" data-index="2"></div>
        </div>

     


        <h1>GARBIFY</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-warning" role="alert" style="text-align: center;">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <h2 class="sub">Classify your Garbage</h2>
        <div class="form-container">
            <form action="{{ url_for('views.upload_file') }}" method="POST" enctype="multipart/form-data" class="w-50">
                <div class="form-group">
                    <label class = "color" for="image"></label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="image" id="image" required>
                        <label class="custom-file-label" for="image">Select or Drag image...</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-3">Upload Image</button>
            </form>
        </div>

        <!--Bootstrap-->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="static/script.js"></script>
        
        

    </body>

</html>